<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div>search: <input type="text" ng-model="$ctrl.query"/></div>
            <div>
                search by:
                <select name="" id="" ng-model="$ctrl.orderProp">
                    <option value="name">name</option>
                    <option value="age">newest</option>
                </select>
            </div>
            <!--反转排序只需要在排序值前面添加一个-号：
            <option value="-age">Oldest</option>-->
            <p>it is sort by:{{$ctrl.orderProp}}</p>
        </div>
        <div class="col-md-10">
            <div class="media phone-list-item" ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                <a class="pull-left img-thumb" href="#!/phones/{{phone.id}}">
                    <img class="media-object" ng-src="{{phone.imageUrl}}"
                         alt="">
                    <!--如果直接使用src绑定{{phone.imageUrl}}，Angular未初始化前就会展开绑定，
                    也就会发出无效的url请求。为此，我们使用ngSrc命令，它会在Angular初始化后再进行绑定。-->
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
                    </h4>
                    <p>
                        {{phone.snippet}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--just try try  可以看到json格式的手机列表-->
    <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre>
</div>